/*body{
    background-color: rgb(230, 255, 255);
}*/
a {
   color: #6633FF;
}

a:hover{
    text-decoration: none;
}

p , li, h1-6, span{
    color: rgba(0,0,0,.7);
}

footer{
    width: 100%;
    height: 5rem;
    background-color: rgba(15,25,36);
    margin-top: 5rem;
}

footer p{
       color: #e6ffff;
}


.container-fluid{
    padding-left:0;
    padding-right:0;
    margin:0;
}

/*.pad-content{
    padding-left: 10px;
    padding-right 10px;
}
.pad-fluid{
    padding-left:0;
    padding-right:0;
    margin:0;
}
*/
.bg-nav{
    background-color: rgb(15, 25, 36);
    color: #e6ffff;
}

/*.in-pesquisa{
    margin-left: 5px;
}
.m-topo{
    margin-top: 20px;
    padding-left: 10px;
}

.m-bottom{
    margin-bottom: 15px;
}

/*@include media-breakpoint-up(xs){
    .img-row{
        margin-bottom: 15px;
    }
    .m-topo{
        padding-left: 10px;
    }
}
@include media-breakpoint-up(md){
    .img-row{
        margin-bottom: 0;
    }
    .m-topo{
        margin-bottom: 0;
    }
}

.width{
    width: 100%;
    height:100px;
}
*/

/* Icones */
/*
.fa-plus{
    margin-right: 10px;
}
.fa-search{
    position: absolute;
    right:26px;
    top: 12px;
    cursor: pointer;
}
.fa-edit, .fa-trash{
    float: right;
}
.fa-edit{
    margin-right: 3px;
}
.fa-trash{
    margin-left: 3px;
}
.fa-edit:hover{
    color: rgba(0,255,0,.5);
}
.fa-trash:hover{
    color: rgba(255,0,0,.5);
}
.fa-home, .fa-users, .fa-phone, .fa-tasks, .fa-lock{
    margin-right: 5px;
}
*/
/* Formulario Login */

.change-form-p{
    margin-top: 2em;
    text-align: left;
    line-spacing: -0.2em;
}
.auth-card{
    margin-bottom: 2em;
}
.login{
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.4em;

}


/* Dashboard*/

ol.breadcrumb a{
    text-decoration: none;
}

.div-card{
    border-radius: 5px;
    border: solid 2px rgba(92,133,145,.2);
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    box-shadow: 6px 6px 4px rgba(92,133,145,.3);
}

.dash-shadow{
    box-shadow: 1px 1px 2px 1px rgba(15,15,35, .3); 
    border-radius: 5px;
    overflow: hidden;
}

.dash-cont{
    margin-top: 5rem;
}

.admin-color{
    background-color: rgba(115,125,135);
    color: #e6ffff;

}

.course-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.course-data{
    font-size: .70em;
    color: rgba(0,0,0,.2);
}

.list-group-item{
    padding: .55em 1.14em; 
}




