{% extends 'courses/course_dashboard.html' %}

{% block breadcrumb %}
	{{ block.super }}
	<li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">{{ course }}</a></li>
{% endblock %}
{% block dashboard_content %}
	<div class="row">
	    <div class="col-sm-12">
			<form method="POST">
				{% csrf_token %}
				<h4>Você deseja realmente cancelar a inscrição deste curso?</h3>
				<button class="btn btn-danger">Confirmar</button>
				<a class="btn btn-secondary" type="button" href="{% url 'courses:announcements' course.slug %}" role="button">Cancelar</a>
			</form>
		</div>
	</div>
{% endblock %}


