{% extends 'base.html' %}

{% block content %}
<div class="container-fluid pad-content">
    <h4>Página de contacto</h4>

    Fale connosco

    Você pode entrar em contacto connosco por email tanto pelas redes sociais, abaixo seguem os links para conctacto:

    Links

    <p class="email">E-mail: <a href="@mailto:simplemooc@gmail.com" target="_blank">contato@simplemooc</a></p>
    <p>Twitter: <a href="http://twitter/simplemooc" target="_blank">@simplemooc</a></p>
    <p >Facebook: <a href="http://facebook.com/simplemooc" target="_blank">Simple Mooc</a></p>

</div>

{% endblock %}