{% extends "accounts/dashboard.html" %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'accounts:edit'%}">Editar Conta</a></li>
{% endblock %}
{% block dashboard_content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success">{{ message }}</div>
{% endfor %}
{% endif %}
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" role="button">Salvar</button>
</form>
{% endblock %}